# dotenv
.env

# virtualenv
venv/
ENV/

*.pyc
*out

*/alertmanager/config.yml
*/grafana/grafana.ini
*daily_dashboard.json
*/grafana/provisioning/datasources/frequent_crawl.yaml
*/grafana/provisioning/datasources/prometheus.yaml
*/prometheus/prometheus.yml

monitor/grafana/provisioning/dashboards/daily_dashboard.json
monitor/grafana/provisioning/dashboards/wa_status.json
