# dotenv
.env

# virtualenv
venv/
ENV/

# files
*.pyc
*out
*log
*pid
*lock
*swp


# generated content
stat-pusher/dev[0-9]-*.[0-9]*
stat-pusher/beta[0-9]-*.[0-9]*
stat-pusher/prod[0-9]-*.[0-9]*
stat-pusher/monitor[0-9]-*.[0-9]*

monitor/alertmanager/config.yml
monitor/grafana/grafana.ini
monitor/grafana/provisioning/datasources/frequent_crawl.yaml
monitor/grafana/provisioning/datasources/prometheus.yaml
monitor/grafana/provisioning/datasources/domain_crawl.yaml
monitor/prometheus/prometheus.yml

monitor/grafana/provisioning/dashboards/wa_status.json
