<!doctype html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="60">
    <style>
{% for job in ['daily', 'weekly', 'monthly', 'quarterly', 'six-monthly', 'annual'] %}
#h3-pc-{{ job }} {
  fill: {{ colours[ services['jobs'][job]['state']['status-class'] ] }} !important;
}
#pc-{{ job }}-rate {
  animation: draws 3s linear infinite;
}
{% endfor %}
#hdfs-prod {
  fill: orange !important;
}
@keyframes draws {
    0% {
        stroke-dashoffset: 90;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
#overview-map {
    text-align: center;
}
    </style>
</head>
<body>

<div id="overview-map">
{% include 'overview.svg' %}
</div>

</body>