[Unit]
Description=h3exporter systemctl configuration
After=network.target

[Service]
Type=forking
User=monitor
Group=monitor
ExecStart=/home/monitor/github/ukwa-monitor/h3exporter/run_h3exporter.sh
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
